@import "../constant.scss";

.pay.layout,
.payment.code.layout,
.chat.code.layout {
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  #layout-container {
    height: 100%;
    position: relative;
  }

  .pay.container,
  .code.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 93.75%;
      height: 40px;
      padding: 10px 0;

      .logo-container {
        display: flex;
        align-items: center;

        img {
          width: 28px;
          height: 26px;
        }

        span {
          margin-left: 10px;
          font-weight: 600;
          line-height: 16px;
          letter-spacing: 0.02em;
          color: #223355;
        }
      }

      .btn {
        display: flex;
        justify-content: center;
        width: 116px;
        height: 40px;
        background: #3D75E3;
        border-radius: 20px;

        a {
          line-height: 40px;
          text-align: center;
          font-weight: 600;
          font-size: 14px;
          color: #FFFFFF;
        }
      }

      @media (max-width: 768px) {
        .btn {
          display: none;
        }
      }
    }

    @media (max-width: 768px) {
      header {
        width: 84%;
      }
    }

    .card-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 35px;
      width: 315px;
      background: #F9FAFC;
      border: 1px solid rgba(0, 0, 0, 0.04);
      box-shadow: 0 8px 34px rgba(0, 0, 0, 0.04);
      border-radius: 20px;

      .avatar-container {
        margin-top: 80px;
        width: 90px;
        height: 90px;
        border: 2px solid #FFFFFF;
        border-radius: 81px;
        overflow: hidden;

        img {
          width: 100%;
        }

        p {
          line-height: 36px;
          text-align: center;
          font-size: 32px;
          font-weight: 400;
          color: #00B0E9;
        }
      }

      .title,
      .name {
        margin-top: 10px;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
      }

      .title {
        margin-top: 80px;
      }

      .info {
        margin-top: 8px;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        color: #B8BDC7;
      }

      .intro {
        margin-top: 10px;
        width: 80%;
        overflow-wrap: break-word;
        word-break: keep-all;
        text-align: center;
        line-height: 22px;
        font-size: 16px;
        font-weight: 400;
        color: #333333;
      }

      .memo {
        margin-top: 10px;
        width: 80%;
        overflow-wrap: break-word;
        word-break: break-all;
        text-align: center;
        line-height: 22px;
        font-size: 16px;
        font-weight: 400;
        color: #333333;
      }

      .action-btn {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        margin-bottom: 56px;
        width: 116px;
        height: 50px;
        background: #3D75E3;
        border-radius: 28px;

        a {
          text-align: center;
          line-height: 50px;
          font-weight: 500;
          color: #ffffff;
        }
      }

      .qrcode-container {
        margin-top: 20px;
        margin-bottom: 40px;
        width: 100%;

        .payment-qrcode {
          position: relative;
          margin: 0 auto;
          width: 168px;
          height: 168px;

          #qrcode {
            width: 100%;
          }

          .asset-container {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 36px;
            height: 36px;
            transform: translate(-50%, -50%);
            border: 3px solid #FFFFFF;
            border-radius: 50%;

            img {
              width: 100%;
            }
          }
        }

        .scale.payment-qrcode {
          width: 192px;
          height: 192px;
        }

        .tip {
          margin-top: 8px;
          text-align: center;
          font-weight: 400;
          font-size: 14px;
          color: rgba(34, 34, 34, 0.4);
        }
      }

      .status-container {
        margin-top: 40px;
        margin-bottom: 98px;

        .icon-container {
          width: 90px;
          height: 90px;

          img {
            width: 100%;
          }
        }

        .status {
          margin-top: 16px;
          text-align: center;
          font-weight: 400;
          font-size: 14px;
          line-height: 14px;
          color: #B8BDC7;
        }
      }
    }

    .footer {
      margin-top: 24px;

      .tip {
        line-height: 22px;
        text-align: center;
        font-weight: 400;
        font-size: 14px;
      }

      .download {
        margin: 2px 0;
        text-align: center;
        line-height: 22px;
        font-weight: 400;
        font-size: 14px;

        a {
          color: #3D75E3;
        }
      }
    }

    .bottom-bar {
      display: none;
      position: fixed;
      bottom: 9px;
      width: 36%;
      height: 5px;
      background: #000000;
      border-radius: 100px;
    }

    @media (max-width: 768px) {
      .bottom-bar {
        display: block;
      }
    }
  }
}
