@import "../constant.scss";

.snapshot.layout {
  #layout-container {
    position: relative;
  }

  .flex.content {
    display: flex;
    width: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  .particles.container,
  .particles.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.92);
    z-index: 0;
  }

  .header.container {
    box-sizing: border-box;
    padding: 32px;
    min-width: 320px;

    .wrapper {
      position: fixed;
    }

    .logo {
      margin: 0;
      font-weight: 500;

      a {
        color: $color-main-foreground-dark;

        &:hover {
          color: $color-main-highlight;
        }
      }
    }

    .logo img {
      display: block;
      width: 64px;
      height: 64px;
      margin: -8px 0 8px 2px;
    }

    .asset.logo img {
      margin-top: 0;
    }

    .stats {
      margin: 32px 0;
      padding: 0;

      li {
        margin: 8px 0;
        padding: 0;
        list-style: none;
        font-size: 20px;

        i {
          font-size: 18px;
        }

        span {
          font-size: 14px;
          text-transform: uppercase;
          opacity: 0.2;
        }
      }
    }

    h2 {
      font-size: 18px;
      text-transform: uppercase;
      font-size: 300;
      opacity: 0.2;
    }

    .assets {
      margin: 16px 0 32px;
      padding: 0;

      li {
        margin: 8px 0;
        padding: 0;
        list-style: none;
        font-size: 20px;

        a {
          color: $color-main-foreground-light;

          &:hover {
            color: $color-main-highlight;
          }
        }

        img {
          vertical-align: baseline;
          width: 16px;
          height: 16px;
          border-radius: 8px;
        }

        span {
          font-size: 14px;
          text-transform: uppercase;
          opacity: 0.2;
        }
      }
    }

    .home.button a {
      color: $color-main-foreground-dark;

      &:hover {
        color: $color-main-highlight;
      }

      i {
        font-size: 14px;
      }
    }
  }

  .main.container {
    box-sizing: border-box;
    padding: 32px;
    min-width: 640px;
  }

  .search {
    width: 100%;
    margin: 0 0 32px;

    input[type=text] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      box-sizing: border-box;
      width: 100%;
      color: $color-main-foreground-light;
      border: 2px solid $color-main-foreground-light;
      border-radius: 26px;
      font-family: $font-main-mono;
      font-size: 20px;
      font-weight: 300;
      line-height: 24px;
      padding: 12px 16px;
      outline: 0 none;
      box-shadow: none;
      background: transparent;

      &:focus {
        border-color: $color-main-highlight;
      }
    }
  }

  .snapshots.list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .snapshot.item {
    display: flex;
    list-style: none;
    margin: 16px 0;
    padding: 0;
    font-weight: 300;
    border-left: 4px solid rgba(20,204,112,0.3);

    .info {
      font-size: 16px;
      line-height: 28px;
      display: flex;
      white-space: nowrap;
      overflow: hidden;
      margin-left: 8px;
      color: $color-main-foreground-light;

      .id {
        font-family: $font-main-mono;
        font-weight: 400;
        color: $color-main-foreground-dark;

        a {
          color: $color-main-foreground-dark;
        }
      }

      img {
        vertical-align: baseline;
        width: 12px;
        height: 12px;
        border-radius: 6px;
        opacity: 0.5;
      }
    }

    .meta {
      margin-left: auto;
      text-align: right;
      font-size: 14px;
      font-weight: 100;
      opacity: 0.2;
      line-height: 28px;

      div {
        display: inline-block;

        i {
          font-size: 12px;
        }
      }
    }

    &.in:hover {
      border-left: 4px solid rgba(20,204,112,1);
    }

    &.out {
      border-left: 4px solid rgba(255,97,76,0.3);

      &:hover {
        border-left: 4px solid rgba(255,97,76,1);
      }
    }

    &:hover {
      .info img,
      .meta {
        opacity: 1;
      }
    }
  }

  .snapshot.container {
    list-style: none;
    margin: 0;

    li {
      margin: 0 0 32px;
      padding: 0;
      list-style: none;

      .meta.name {
        text-transform: uppercase;
        opacity: 0.2;
        font-size: 14px;
      }

      .meta.value {
        font-size: 16px;
        font-weight: 300;
        margin-top: 8px;
      }

      &.id {
        border-top: 4px solid rgba(20,204,112,1);
        padding-top: 16px;
      }

      a {
        color: $color-main-highlight;
      }
    }

    &.out li.id {
      border-top: 4px solid rgba(255,97,76,1);
    }
  }

  @media (max-width: 960px) {
    .flex.content {
      flex-wrap: wrap;
    }

    .header.container {
      width: 100%;
      padding-bottom: 0;

      .wrapper {
        position: relative;
        display: flex;

        .stats {
          margin: 8px 0 0 auto;

          li {
            display: inline-block;
            text-align: center;
            margin: 0 0 0 32px;

            span {
              display: block;
            }
          }

          i {
            display: none;
          }
        }

        .home.button {
          position: absolute;
          top: -24px;
          left: 0;
          width: 100%;
          text-align: center;
        }
      }

      .asset.logo img {
        margin-top: -8px;
      }

      h2,
      h1 span,
      .assets {
        display: none;
      }
    }

    .main.container {
      min-width: 0;
      max-width: 100%;
      width: 640px;
      margin: 0 auto;
    }
  }

  @media (max-width: 768px) {
    .header.container {
      padding: 32px 20px 0;

      .wrapper {
        .stats {
          li.thoroughput {
            display: none;
          }
        }
      }
    }

    .main.container {
      padding-top: 16px;
    }
  }

  @media (max-width: 520px) {
    .main.container {
      padding: 16px 20px;
    }

    .snapshot.item {
      flex-wrap: wrap;

      .meta {
        text-align: left;
        margin-left: 8px;
      }
    }
  }

  @media (max-width: 400px) {
    .header.container {
      .wrapper {
        .stats {
          li.assets.amount {
            display: none;
          }
        }
      }
    }

    .snapshot.item {
      .info {
        font-size: 15px;
      }
    }
  }
}
