.home.renewal {
  color: rgba(34, 34, 34, 0.9);
  font-family: Open Sans, sans-serif;
  font-size: 1.25rem;

  .product {
    padding-bottom: 6.25rem;
  }

  .mtg, .mm {
    background: #F4F7FF;
  }

  .summary {
    .title {
      font-size: 3.625rem;
      font-weight: 700;
      text-align: center;
      padding: 6.875rem 0 1.25rem;
    }

    .description {
      font-size: 1.5rem;
      text-align: center;
      line-height: 2.25rem;
      padding-bottom: 2rem;
    }
  }

  .feature {
    display: flex;
    padding: 4.375rem 0;
    &.revert {
      flex-direction: row-reverse;
      .figure {
        text-align: right;
      }
    }

    h4 {
      display: none;
    }

    .figure {
      width: 50%;
      img {
        max-width: 88%;
      }
    }

    dl {
      width: 50%;
    }
    dt {
      font-size: 2.375rem;
      font-weight: 500;
      margin-bottom: 1.875rem;
    }
    dd {
      line-height: 2rem;
      color: rgba(34, 34, 34, 0.7);
      margin: 0;
    }
    p {
      margin-bottom: 1.6rem;
    }
  }
}

@media screen and (max-width: 60rem) {
  section.renewal {
    padding: 0 1.25rem;
  }

  .home.renewal {
    font-size: 1rem;

    .summary {
      .title {
        font-size: 2.125rem;
        padding: 3.75rem 0 1.25rem;
      }
      .description {
        font-size: 1.125rem;
        line-height: 1.5rem;
      }
    }

    .feature {
      flex-direction: column;
      padding: 4.375rem 0 0;
      &.revert {
        flex-direction: column;
        .figure {
          text-align: center;
        }
      }
      h4 {
        font-size: 1.625rem;
        font-weight: 500;
        display: block;
        text-align: center;
      }
      .figure {
        width: 100%;
        text-align: center;
      }
      dl {
        text-align: center;
        width: 100%;
        line-height: 150%;
      }
      dt {
        display: none;
      }
      dd {
        line-height: 1.5rem;
      }
    }
  }
}
