section.renewal {
  box-sizing: border-box;
  width: 75rem;
  max-width: 100%;
  padding: 0 1.875rem;
  margin: 0 auto;
}

header.renewal {
  background: url("./assets/index_bg.png") no-repeat top;
  background-size: cover;
  color: white;

  section.renewal {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .navi {
    font-size: 1.125rem;
    display: flex;
    align-items: center;
    height: 6.25rem;
  }

  a {
    color: white;
    margin-left: 3.75rem;
  }

  .brand {
    flex-grow: 1;
    img {
      margin-right: .5rem;
      width: 2.1rem;
    }
  }

  .slogan {
    flex-grow: 1;
    font-size: 3.625rem;
    font-weight: 700;
    line-height: 5.125rem;
    display: flex;
    align-items: center;
    width: 50%;
  }

  .down {
    text-align: center;
    padding-bottom: 1.25rem;
  }

  .ic_down {
    cursor: pointer;
  }
}

footer.renewal {
  padding: 5rem 0 9.25rem;
  background: #363C40;

  section.renewal {
    display: flex;
  }

  .socials {
    flex-grow: 1;
    .brand {
      margin-bottom: 3rem;
    }
    .list {
      display: flex;
    }
    a {
      background: rgba(254, 255, 255, 0.8);
      border-radius: 2.5rem;
      margin-right: 1.25rem;
      width: 2.5rem;
      height: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .sitemap {
    display: flex;
    font-size: 1rem;
    a {
      color: rgba(255, 255, 255, 0.8);
    }
    .divide {
      margin-left: 8.75rem;
    }
    .item {
      margin-bottom: 1.25rem;
    }
  }
}

.home.renewal {
  color: rgba(34, 34, 34, 0.9);
  font-family: Helvetica Neue;
  font-size: 1.25rem;

  .product {
    padding-bottom: 6.25rem;
  }

  .mtg, .mm {
    background: #F4F7FF;
  }

  .summary {
    .title {
      font-size: 3.625rem;
      font-weight: 700;
      text-align: center;
      padding: 6.875rem 0 1.25rem;
    }

    .description {
      font-size: 1.5rem;
      text-align: center;
      line-height: 2.25rem;
      padding-bottom: 2rem;
    }
  }

  .feature {
    display: flex;
    padding: 4.375rem 0;
    &.revert {
      flex-direction: row-reverse;
      .figure {
        text-align: right;
      }
    }

    h4 {
      display: none;
    }

    .figure {
      width: 50%;
    }

    dl {
      width: 50%;
    }
    dt {
      font-size: 2.375rem;
      font-weight: 500;
      margin-bottom: 1.875rem;
    }
    dd {
      line-height: 2rem;
      color: rgba(34, 34, 34, 0.7);
      margin: 0;
    }
    p {
      margin-bottom: 1.6rem;
    }
  }
}

@media screen and (max-width: 60rem) {
  section.renewal {
    padding: 0 1.25rem;
  }

  header.renewal {
    background: url("./assets/index_mobile_bg.png") no-repeat top;
    background-size: cover;

    .slogan {
      width: 100%;
      font-size: 1.875rem;
      align-items: flex-end;
      text-align: center;
      padding-bottom: 5rem;
    }

    a {
      margin-left: 1.75rem;
    }
  }

  footer.renewal {
    padding: 3.75rem 0;

    section.renewal {
      flex-direction: column-reverse;
    }

    .sitemap {
      flex-wrap: wrap;
      .divide {
        margin-left: 0;
      }
      .list {
        width: 50%;
        margin-bottom: 3rem;
      }
    }

    .socials {
      .brand {
        margin-bottom: 2rem;
      }
    }
  }

  .home.renewal {
    font-size: 1rem;

    .summary {
      .title {
        font-size: 2.125rem;
        padding: 3.75rem 0 1.25rem;
      }
      .description {
        font-size: 1.125rem;
        line-height: 150%;
      }
    }

    .feature {
      flex-direction: column;
      padding: 4.375rem 0 0;
      &.revert {
        flex-direction: column;
        .figure {
          text-align: center;
        }
      }
      h4 {
        font-size: 1.625rem;
        font-weight: 500;
        display: block;
        text-align: center;
      }
      .figure {
        width: 100%;
        text-align: center;
      }
      dl {
        text-align: center;
        width: 100%;
        line-height: 150%;
      }
      dt {
        display: none;
      }
    }
  }
}
