@import "../constant.scss";

.mixin-one-home-container {
  font-family: "Mulish", sans-serif;
  width: 100%;
  height: 100%;
  min-width: 375px;
  overflow: hidden;

  * {
    cursor: default;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  header {
    min-height: 780px;
    max-height: 1080px;
    background-size: cover;
    font-size: initial;
    position: relative;
    overflow: hidden;

    .home-background {
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      background-color: #366bd5;
    }

    .header-container {
      z-index: 1;
      margin: 0 auto;
      padding: 24px 40px 0 40px;
      height: 100%;
      color: #fff;

      .nav-list-menus-btn {
        display: none;
      }

      nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        width: 1280px;
        height: 24px;
        font-size: 14px;

        .nav-logo {
          height: 100%;
        }

        .nav-list {
          .nav-list-menus-list {
            display: block;
          }

          .nav-list-menus-item {
            display: inline-block;
            line-height: 20px;
            font-size: 16px;
            font-weight: 400;
            color: #fff;
            border-bottom: 2px solid transparent;
            cursor: pointer;

            &:first-child {
              margin-left: 0;
            }
          }

          a {
            margin-left: 90px;
          }

          a:hover {
            border-bottom: 2px solid #fff;
          }
        }
      }

      .nav-title {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        h1 {
          margin: 0 auto;
          width: 736px;
          line-height: 68px;
          font-size: 60px;
          font-weight: 700;
        }

        p {
          margin: 30px auto 0 auto !important;
          width: 1012px;
          line-height: 42px;
          font-size: 32px;
          font-weight: 400;
          opacity: 0.8;
        }
      }
    }
  }

  .home-language-ch .header-container .nav-title {
    h1 {
      width: 600px;
    }

    p {
      font-family: "Maven Pro", sans-serif;
      font-weight: 300;
    }
  }

  section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 880px;
    text-align: center;

    .section-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 1280px;
      height: 410px;

      .section-info {
        width: 668px;
        text-align: left;

        .title {
          line-height: 65.26px;
          font-size: 52px;
          font-weight: 700;
        }

        .content {
          margin: 24px 0 56px 0;
          width: 100%;
          line-height: 36px;
          font-size: 26px;
          font-weight: 400;
          color: rgba(0, 0, 0, 0.5);
        }

        .link-container {
          display: flex;
          flex-direction: row;
          margin-bottom: 28px;
          width: 100%;
          font-size: 26px;
          font-weight: 400;
          line-height: 32px;

          .link {
            display: flex;
            align-items: center;
            margin-right: 50px;
            white-space: nowrap;
            height: 32px;
            color: #3D75E3;
            cursor: pointer;

            i {
              margin-left: 15px;
              vertical-align: middle;
              font-size: 18px;
              cursor: pointer;
            }
          }

          .link:last-child {
            margin-right: 0;
          }
        }
      }

      & > img {
        display: block;
        height: 90%;
      }
    }
  }

  .logo {
    margin-bottom: 32px;
    width: 142px;
    height: 142px;
  }

  .bg-gray {
    background-color: #f9f9f9;

    .section-container {
      flex-direction: row-reverse;
    }
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 186px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;

    .footer-link-list {
      a {
        padding-left: 6px;
        line-height: 19px;
        cursor: pointer;
        color: rgba(47, 48, 50, 1);
      }

      a::after {
        content: "|";
        padding-left: 10px;
        color: #c7c9d2;
      }

      a:last-child {
        &::after {
          content: "";
        }
      }

      a:hover {
        color: #aaa;
      }
    }

    .copyright {
      margin-top: 13px;
      line-height: 17px;
      color: #c7c9d2;
    }

    .zeromesh {
      margin-top: 8px;
      a {
        color: #c7c9d2;
      }
    }
  }

  @media screen and (max-width: 1369px) {
    header .header-container .nav-title p span {
      display: inline-block;
    }

    section .section-container {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;

        .section-info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          text-align: center;

          .link-container {
            display: flex;
            justify-content: center;
            width: 100%;

            .link {
              justify-content: center;
            }
          }
        }

        & > img {
          height: 40%
        }
      }

    .bg-gray .section-container {
      flex-direction: column;
    }
  }

  @media screen and (max-width: 1369px) and (min-width: 960px) {
    header {
      min-height: 500px;
      max-height: 720px;

      &.home-language-ch .header-container .nav-title{
         h1 {
          width: 450px;
        }

        br {
          display: block !important;
        }
      }

      .header-container {
        nav {
          width: 880px;

          .nav-list {
            a {
              margin-left: 70px;
            }
          }
        }

        .nav-title {
          h1 {
            line-height: 50px;
            font-size: 46px;
          }

          p {
            margin: 26px auto 0 auto;
            width: 651px;
            font-size: 24px;
            line-height: 32px;
          }
        }
      }
    }

    section {
      height: 945px;

      .section-container .section-info {
        .title {
          font-size: 50px;
          line-height: 72px;
        }

        .content {
          margin: 20px auto 28px auto;
          width: 720px;
          line-height: 38px;
          font-size: 28px;
        }

        .link-container {
          margin-bottom: 28px;
          line-height: 30px;
          font-size: 26px;
          color: #3d75e3;
        }
      }
    }

    .logo {
      width: 142px;
      height: 142px;
      margin-bottom: 20px;
    }
  }

  @media screen and (max-width: 959px) and (min-width: 720px) {
    header {
      max-height: 400px;
      min-height: 500px;

      &.home-language-ch {
        .nav-title h1 {
          width: 310px;
        }

        br {
          display: block !important;
        }
      }

      .header-container {
        nav {
          width: 640px;

          .nav-list {
            a {
              margin-left: 56px;
            }
          }
        }

        .nav-title {
          h1 {
            width: 417px;
            line-height: 40px;
            font-size: 32px;
          }

          p {
            margin: 16px auto 0 auto;
            width: 417px;
            font-size: 18px;
            line-height: 26px;
          }
        }
      }
    }

    section {
      height: 623px;

      .section-container .section-info {
        .title {
          font-size: 32px;
          line-height: 38px;
        }

        .content {
          margin: 12px auto 20px auto;
          width: 500px;
          line-height: 26px;
          font-size: 18px;
        }

        .link-container {
          margin-bottom: 20px;
          height: 30px;
          line-height: 22px;
          font-size: 18px;

          .link {
            margin-right: 25px;
            height: 20px;

            i {
              margin-left: 5px;
              font-size: 12px;
            }
          }
        }
      }
    }

    .logo {
     width: 100px;
     height: 100px;
     margin-bottom: 10px;
    }
  }

  @media screen and (max-width: 719px) {
    header {
      width: 100%;
      max-height: 274px;
      min-height: 260px;
      overflow: hidden;

      &.home-language-ch .nav-title h1 {
        width: 210px;
      }

      .header-container {
        padding: 24px 0 0 0;
        font-size: initial;

        nav {
          margin: 0 auto;
          padding: 0 20px;
          width: 100%;
          max-width: 600px;
          height: 16px;

          .nav-list {
            position: relative;
            height: 100%;
            text-align: center;

            .nav-list-menus-btn {
              display: block;
              height: 100%;
              cursor: pointer;
            }

            .nav-list-menus-list {
              display: none;
              width: 150px;
              position: absolute;
              right: -13px;
              top: 24px;
              background: #fff;
              box-shadow: 0px 2px 12px 0px rgba(47, 48, 50, 0.3);
              border-radius: 6px 6px 4px 4px;
              z-index: 10;

              .nav-list-menus-item {
                text-align: left;
                padding-left: 24px;
                width: 100%;
                height: 50px;
                font-size: 14px;
                line-height: 46px;
                color: #333333;
                border-radius: 6px 6px 4px 4px;
                border-bottom: 1px solid rgba(236, 236, 236, 0.5);
              }

              a {
                margin: 0;
              }

              &::after {
                display: block;
                content: "";
                width: 0;
                height: 0;
                position: absolute;
                top: -10px;
                right: 18px;
                border-width: 5px;
                border-style: solid;
                border-color: transparent transparent #fff transparent;
              }
            }
          }
        }

        .nav-title {
          h1 {
            font-size: 22px;
            line-height: 26px;
            width: 260px;
            margin: 0 auto;
          }

          p {
            margin: 12px auto 0 auto !important;
            width: 320px;
            font-size: 14px;
            color: rgba(255, 255, 255, 1);
            line-height: 20px;
          }

          br {
            display: block !important;
          }
        }
      }
    }

    section {
      height: 500px;

      .section-container {
        width: 100%;
        max-width: 600px;

        .section-info {
          width: 100%;

          .title {
            font-weight: 700;
            font-size: 24px;
            line-height: 30px;
          }

          .content {
            margin: 10px auto 16px auto;
            padding: 0 24px;
            line-height: 20px;
            font-size: 14px;
          }

          .link-container {
            margin-bottom: 40px;

            .link {
              margin-right: 20px;
              height: 18px;
              font-size: 14px;

              i {
                margin-left: 5px;
                font-size: 5px;
              }
            }
          }
        }
      }
    }

    .section-1 .section-container > img{
      height: 204px;
    }
    .section-2 .section-container > img{
      height: 179px;
    }
    .section-3 .section-container > img{
      height: 222px;
    }
    .section-4 .section-container > img {
      height: 164px;
    }
    .section-5 .section-container > img {
      height: 222px;
    }

    .logo {
      width: 48px;
      height: 48px;
      margin-bottom: 8px;
    }

    footer {
      line-height: 12px;
      font-size: 10px;

      .footer-link-list a {
        padding-left: 5px;

        &:after {
          padding-left: 7px;
        }
      }
    }
  }
}

.home-xin {
  &.content {
    width: 100%;
    max-width: 960px;
    box-sizing: border-box;
    padding: 0 32px 32px;
    margin: 128px auto 0;
    text-align: center;
  }

  &p {
    margin: 16px 0;
  }

  &.token.distribution {
    margin: 64px auto 0;
    padding: 0 24px 24px;
    max-width: 640px;

    .distribution.container {
      text-align: left;
      padding: 16px 0;

      .distribution.block {
        margin-bottom: 32px;

        h3 {
          font-family: $font-main-title;
          font-size: 24px;
        }

        p {
          line-height: 1.5em;
          font-size: 16px;
          color: $color-main-foreground-light;
        }

        a {
          color: $color-main-foreground-light;

          &:hover {
            color: $color-main-highlight;
          }
        }

        .mixin.meta,
        .distribution.quota {
          padding: 0;
          margin: 0;
          list-style: circle;
          line-height: 1.5em;
          font-size: 16px;

          li {
            margin: 4px 0 8px 8px;
          }
        }

        .distribution.meta {
          padding: 0;
          margin: 0;
          list-style: none;
          line-height: 1.7em;
          font-size: 16px;

          i {
            margin-right: 12px;
          }

          span {
            margin-right: 8px;

            &.name {
              font-family: $font-main-title;
              font-weight: 300;
              font-size: 12px;
              color: $color-main-foreground-light;
            }
          }
        }
      }
    }

    .distribution.footer {
      margin-bottom: 64px;
      text-align: left;
      font-family: $font-main-title;
      font-weight: 300;
      font-size: 12px;
      color: $color-main-foreground-light;
    }
  }
}
