@import "../constant.scss";

.mixin-one-home-container {
  font-family: "Mulish", sans-serif;
  min-width: 380px;
  overflow: hidden;
  width: 100%;
  height: 100%;

  * {
    cursor: default;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 2rem, 0);
      transform: translate3d(0, 2rem, 0);
    }

    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  .home-language-ch .nav-title p {
    display: flex;
    justify-content: center;
    font-family: "Maven Pro", sans-serif;
    font-weight: 300;
  }

  header {
    min-height: 780px;
    max-height: 1080px;
    background-size: cover;
    font-size: initial;
    position: relative;
    overflow: hidden;

    .home-background {
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      background-color: #366bd5;
    }

    .header-container {
      z-index: 1;
      margin: 0 auto;
      padding: 24px 40px 0px 40px;
      color: #fff;
      height: 100%;

      .nav-list-menus-btn {
        display: none;
      }

      nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        width: 1200px;
        height: 24px;
        font-size: 14px;

        .nav-logo {
          height: 100%;
        }

        .nav-list {
          .nav-list-menus-list {
            display: block;
          }

          .nav-list-menus-item {
            display: inline-block;
            line-height: 20px;
            font-size: 16px;
            font-weight: 400;
            color: #fff;
            border-bottom: 2px solid transparent;
            cursor: pointer;

            &:first-child {
              margin-left: 0;
            }
          }

          a {
            margin-left: 90px;
          }

          a:hover {
            border-bottom: 2px solid #fff;
          }
        }
      }

      .nav-title {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        h1 {
          margin: 0 auto;
          width: 736px;
          line-height: 68px;
          font-size: 60px;
          font-weight: 900;
        }

        p {
          margin: 30px auto 0 auto !important;
          width: 1012px;
          line-height: 42px;
          font-size: 32px;
          font-weight: 400;
          opacity: 0.8;
        }
      }
    }
  }

  section {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 880px;
    text-align: center;

    &>div {
      position: relative;
      width: 100%;
      height: 100%;
    }

    .section-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0 auto;
      width: 1280px;
      height: 440px;

      .section-info {
        width: 55%;
        text-align: left;

        .logo {
          width: 110px;
          height: 110px;
          margin-bottom: 14px;
        }

        .title {
          line-height: 65.26px;
          font-size: 52px;
          font-weight: 800;
        }

        .content {
          margin: 24px 0 56px 0;
          width: 100%;
          line-height: 36px;
          font-size: 26px;
          font-weight: 400;
          color: rgba(0, 0, 0, 0.5);
        }

        .link-container {
          display: flex;
          align-content: flex-start;
          flex-flow: row wrap;
          width: 100%;
          font-size: 26px;
          font-weight: 400;
          line-height: 32px;

          .link {
            display: flex;
            justify-content: left;
            align-items: center;
            flex: 0 0 25%;
            margin-bottom: 28px;
            width: 30%;
            height: 32px;
            color: #3D75E3;
            cursor: pointer;

            img {
              display: inline-block;
              margin-left: 10px;
              height: 36%;
              cursor: pointer;
            }
          }

          .link:last-child {
            margin-right: 0;
          }
        }
      }

      & > img {
        display: block;
        height: 80%;
      }
    }
  }

  .section-2 {
    .section-container {
      .section-info {
        padding-left: 158px;

        .logo {
          width: 142px;
          height: 142px;
        }

        .content {
          width: 520px;
        }
      }
    }
  }

  .bg-gray {
    background-color: #f5f7ff;

    .section-container {
      flex-direction: row-reverse;
    }
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 186px;
    text-align: center;
    font-family: "Maven Pro";
    font-size: 16px;
    font-weight: 400;

    .footer-link-list {
      a {
        padding-left: 10px;
        line-height: 19px;
        cursor: pointer;
        color: rgba(47, 48, 50, 1);
      }

      a::after {
        content: "|";
        padding-left: 10px;
        color: #c7c9d2;
      }

      a:last-child {
        &::after {
          content: "";
        }
      }

      a:hover {
        color: #aaa;
      }
    }

    .copyright {
      margin-top: 13px;
      line-height: 17px;
      color: #c7c9d2;
    }

    .zeromesh {
      margin-top: 8px;
      a {
        color: #c7c9d2;
      }
    }
  }

  @media screen and (max-width: 1279px) {
    .bg-gray {
      .section-container {
        flex-direction: column;
      }
    }

    section {
      .section-container {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;

        .section-info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          text-align: center;

          .link-container {
            justify-content: center;
            width: 100%;

            .link {
              flex: 0 0 20%;
              justify-content: center;
            }
          }
        }

        & > img {
          margin-top: 10px;
          height: 40%
        }
      }
    }

    .section-2 .section-container .section-info{
      padding: 0;
    }
  }

  @media screen and (max-width: 1279px) and (min-width: 960px) {
    header {
      min-height: 500px;
      max-height: 720px;

      &.home-language-ch {
        .nav-title h1 {
          width: 450px;
        }

        br {
          display: block !important;
        }
      }

      .header-container {
        nav {
          width: 880px;

          .nav-list {
            a {
              margin-left: 70px;
            }
          }
        }

        .nav-title {
          h1 {
            line-height: 50px;
            font-size: 46px;
          }

          p {
            margin: 26px auto 0 auto;
            width: 651px;
            font-size: 24px;
            line-height: 32px;
          }
        }
      }
    }

    section {
      height: 945px;

      .section-container {
        .section-info {
          .logo {
            width: 142px;
            height: 142px;
            margin-bottom: 20px;
          }

          .title {
            font-size: 50px;
            line-height: 72px;
          }

          .content {
            margin: 20px auto 28px auto;
            width: 720px;
            line-height: 38px;
            font-size: 28px;
          }

          .link-container {
            margin: 0 auto;
            font-size: 26px;
            color: #3d75e3;
            line-height: 30px;

            .link {
              flex: 0 0 20%;
            }
          }
        }
      }
    }

    section.section-has-logo {
      height: 1066px;
    }
  }

  @media screen and (max-width: 959px) and(min-width: 720px) {
    header {
      max-height: 400px;
      min-height: 500px;

      &.home-language-ch {
        .nav-title h1 {
          width: 310px;
        }

        br {
          display: block !important;
        }
      }

      .header-container {
        nav {
          width: 640px;

          .nav-list {
            a {
              margin-left: 56px;
            }
          }
        }

        .nav-title {
          h1 {
            width: 417px;
            line-height: 40px;
            font-size: 32px;
          }

          p {
            margin: 16px auto 0 auto;
            width: 417px;
            font-size: 18px;
            line-height: 26px;
          }
        }
      }
    }

    section {
      height: 623px;

      .section-container {
        .section-info {

          .title {
            font-size: 32px;
            line-height: 38px;
          }

          .content {
            margin: 12px auto 20px auto;
            width: 500px;
            line-height: 26px;
            font-size: 18px;
          }

          .link-container {
            margin: 0 auto;
            height: 30px;
            font-size: 18px;
            color: #3d75e3;
            line-height: 22px;

            .link {
              flex: 0 0 17%;
              height: 20px;

              img {
                height: 50%;
              }
            }
          }
        }
      }

      &.section-2 {
        .section-container .section-info .logo {
              width: 100px;
              height: 100px;
              margin-bottom: 24px;
            }
      }
    }

    section.section-has-logo {
      height: 765px;
    }
  }

  @media screen and (max-width: 719px) {
    header {
      width: 100%;
      max-height: 274px;
      min-height: 260px;
      overflow: hidden;

      &.home-language-ch .nav-title h1 {
        width: 210px;
      }

      .header-container {
        margin: 0 auto;
        padding: 0;
        font-size: initial;

        nav {
          margin-top: 28px;
          padding: 0 20px;
          width: 375px;
          height: 16px;

          .nav-list {
            position: relative;
            height: 100%;
            text-align: center;

            .nav-list-menus-btn {
              display: block;
              height: 100%;
              cursor: pointer;
            }

            .nav-list-menus-list {
              display: none;
              width: 150px;
              position: absolute;
              right: -13px;
              top: 24px;
              background: #fff;
              box-shadow: 0px 2px 12px 0px rgba(47, 48, 50, 0.3);
              border-radius: 6px 6px 4px 4px;
              z-index: 10;

              .nav-list-menus-item {
                text-align: left;
                padding-left: 24px;
                width: 100%;
                height: 50px;
                font-size: 14px;
                line-height: 46px;
                color: #333333;
                border-radius: 6px 6px 4px 4px;
                border-bottom: 1px solid rgba(236, 236, 236, 0.5);
              }

              a {
                margin: 0;
              }

              &::after {
                display: block;
                content: "";
                width: 0;
                height: 0;
                position: absolute;
                top: -10px;
                right: 18px;
                border-width: 5px;
                border-style: solid;
                border-color: transparent transparent #fff transparent;
              }
            }
          }
        }

        .nav-title {
          top: 50%;

          h1 {
            font-size: 22px;
            line-height: 26px;
            width: 260px;
            margin: 0 auto;
          }

          p {
            margin: 12px auto 0 auto !important;
            width: 300px;
            font-size: 14px;
            color: rgba(255, 255, 255, 1);
            line-height: 16px;
          }

          br {
            display: block !important;
          }
        }
      }
    }

    section {
      height: 442px;

      .section-container {
        .section-info {
          .title {
            font-size: 24px;
            line-height: 29px;
          }

          .content {
            margin: 12px auto 15px auto;
            width: 350px;
            line-height: 20px;
            font-size: 14px;
          }

          .link-container {
            margin: 0 auto;
            height: 20px;
            font-size: 14px;
            color: #3d75e3;
            line-height: 17px;

            .link {
              height: 16px;

              img {
                height: 50%;
              }
            }
          }
        }
      }

      &.section-2 {
        .section-container .section-info .logo {
          width: 80px;
          height: 80px;
          margin-bottom: 16px;
        }
      }
    }

    section.section-has-logo {
      height: 577px;
    }
  }
}

.home-xin {
  &.content {
    width: 100%;
    max-width: 960px;
    box-sizing: border-box;
    padding: 0 32px 32px;
    margin: 128px auto 0;
    text-align: center;
  }

  &p {
    margin: 16px 0;
  }

  &.token.distribution {
    margin: 64px auto 0;
    padding: 0 24px 24px;
    max-width: 640px;

    .distribution.container {
      text-align: left;
      padding: 16px 0;

      .distribution.block {
        margin-bottom: 32px;

        h3 {
          font-family: $font-main-title;
          font-size: 24px;
        }

        p {
          line-height: 1.5em;
          font-size: 16px;
          color: $color-main-foreground-light;
        }

        a {
          color: $color-main-foreground-light;

          &:hover {
            color: $color-main-highlight;
          }
        }

        .mixin.meta,
        .distribution.quota {
          padding: 0;
          margin: 0;
          list-style: circle;
          line-height: 1.5em;
          font-size: 16px;

          li {
            margin: 4px 0 8px 8px;
          }
        }

        .distribution.meta {
          padding: 0;
          margin: 0;
          list-style: none;
          line-height: 1.7em;
          font-size: 16px;

          i {
            margin-right: 12px;
          }

          span {
            margin-right: 8px;

            &.name {
              font-family: $font-main-title;
              font-weight: 300;
              font-size: 12px;
              color: $color-main-foreground-light;
            }
          }
        }
      }
    }

    .distribution.footer {
      margin-bottom: 64px;
      text-align: left;
      font-family: $font-main-title;
      font-weight: 300;
      font-size: 12px;
      color: $color-main-foreground-light;
    }
  }
}
