<header class="renewal">
  <section class="renewal">
    <div class="navi">
      <div class="brand">
        <a href="/"> <img src="{{ logo_white }}" alt="mixin" /> </a>
      </div>
      <div class="menu">
        <a href="/ecosystem">{{ t 'general.header.ecosystem' }}</a>
        <a href="/messenger">{{ t 'general.header.messenger' }}</a>
        <a href="https://developers.mixin.one/">{{ t 'general.header.developer' }}</a>
      </div>
    </div>
    <div class="slogan">
      {{ t slogan }}
    </div>
    <div class="down">
      <img src="{{ ic_down }}" alt="down" class="ic_down" />
    </div>
  </section>
</header>
