.ecosystem.layout {
  h2 {
    font-size: 58px;
    text-align: center;
    margin-bottom: 6.25rem;
  }
  .wallets {
    padding: 7.5rem 0 3rem;
    font-size: 1.25rem;

    .wallet {
      display: flex;
      margin-bottom: 2rem;
    }

    .cover {
      padding-right: 6.25rem;
      img {
        width: 375px;
        min-width: 375px;
      }
    }

    .info {
      padding-top: 3rem;
      img {
        width: 3rem;
        height: 3rem;
        margin-right: 1.25rem;
      }
      .name {
        display: flex;
        align-items: center;
        font-size: 2.375rem;
        margin-bottom: 2.5rem;
      }
      .description {
        color: rgba(34, 34, 34, 1);
        margin-bottom: 2.5rem;
        line-height: 2rem;
      }
      .download {
        border-radius: 5rem;
        background: rgba(61, 117, 227, 1);
        color: white;
        display: inline-block;
        font-size: 1.125rem;
        padding: 1.25rem 5.2rem;
      }
    }

    .wallet.revert {
      flex-direction: row-reverse;
      .cover {
        padding: 0 0 0 6.25rem;
      }
    }
  }

  .partners {
    overflow: hidden;
    position: relative;
    &:before {
      content: "";
      height: 100%;
      pointer-events: none;
      position: absolute;
      left: 0;
      top: 0;
      width: 16%!important;
      z-index: 42;
      background: linear-gradient(90deg , rgb(255, 255, 255) 2.52%, rgba(255, 255, 255, 0) 100%) 0% 0% repeat scroll rgba(255, 255, 255, 0);
    }
    &:after {
      content: "";
      height: 100%;
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 0;
      width: 16%!important;
      z-index: 42;
      background: linear-gradient(270deg , rgb(255, 255, 255) 2.52%, rgba(255, 255, 255, 0) 100%) 0% 0% repeat scroll rgba(255, 255, 255, 0);
    }
    .scroller {
      position: relative;
      height: 78px;
      width: 100%;
      overflow: hidden;
      margin-bottom: 16px;
    }
    .list {
      position: absolute;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: max-content;
    }
    .brands {
      animation: marquee 60s linear infinite;
    }
    .ecosystems {
      animation: marquee 80s linear infinite;
    }
    .coins {
      animation: marquee 50s linear infinite;
    }
    img {
      width: 60px;
      height: 60px;
    }
    .item {
      background: #f7f8fb;
      border-radius: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;
      margin: 0 .7rem;
      padding: 0 1.2rem 0 0;
    }
    .name {
      font-size: 30px;
      padding-left: 12px;
    }
  }

  .defi {
    padding: 7.5rem 0 3rem;
    .list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    img {
      width: 60px;
      height: 60px;
      margin-bottom: 1.2rem;
    }

    .name {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: .8rem;
    }

    .description {
      color: rgba(34, 34, 34, 0.7);
      line-height: 22px;
    }

    .item {
      box-sizing: border-box;
      padding: .5rem;
      width: 33.3%;
    }

    .border {
      box-shadow: 0px 6px 44px rgba(83, 92, 138, 0.1);
      border-radius: 16px;
      font-size: 18px;
      padding: 30px;
      min-height: 200px;
    }
  }

  .apps {
    padding: 7.5rem 0 6rem;
    text-align: center;

    .list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    img {
      width: 92px;
      height: 92px;
      margin-bottom: 1.2rem;
    }

    .name {
      font-size: 30px;
      font-weight: 500;
      margin-bottom: 1rem;
    }

    .type {
      font-size: 16px;
      margin-bottom: 20px;
      span {
        display: inline-block;
        border-radius: 20px;
        background: #E1E5F1;
        color: rgba(34, 34, 34, 0.4);
        padding: 5px 16px;
      }
    }

    .description {
      line-height: 28px;
      color: rgba(34, 34, 34, 0.7);
    }

    .item {
      box-sizing: border-box;
      padding: .5rem;
      width: 33.3%;
    }

    .border {
      background: #F4F6FC;
      border-radius: 16px;
      font-size: 18px;
      padding: 40px 30px;
      min-height: 360px;
    }
  }

  @keyframes marquee {
    0% { left: 0; }
    100% { left: -100%; }
  }
}

@media screen and (max-width: 60rem) {
  .ecosystem.layout {
    h2 {
      font-size: 34px;
      margin-bottom: 5rem;
    }

    .wallets {
      padding: 5rem 0 2rem;
      .wallet {
        flex-direction: column;
      }
      .cover {
        text-align: center;
        padding: 0 2rem;
      }
      .info {
        text-align: center;
        img {
          margin: 0 0 .5rem 0;
        }
        .name {
          flex-direction: column;
          font-size: 26px;
          margin-bottom: 10px;
        }
        .description {
          font-size: 18px;
          line-height: 26px;
        }
      }
      .wallet {
        margin-bottom: 4rem;
      }
      .wallet.revert {
        flex-direction: column;
        .cover {
          padding: 0 2rem;
        }
      }
    }

    .partners {
      img {
        width: 38px;
        height: 38px;
      }
      .partner {
        font-size: 18px;
      }
      .item {
        margin: 0 .2rem;
        height: 38px;
      }
      .name {
        font-size: 18px;
      }
      .brands {
        animation: marquee 30s linear infinite;
      }
      .ecosystems {
        animation: marquee 40s linear infinite;
      }
      .coins {
        animation: marquee 35s linear infinite;
      }
    }

    .defi {
      .item {
        width: 100%;
        text-align: center;
      }

      .border {
        padding: 20px;
      }
    }

    .apps {
      .item {
        width: 100%;
      }

      .name {
        font-size: 24px;
      }

      .description {
        font-size: 16px;
      }
    }
  }
}
