@import "../constant.scss";

.pay.layout {
  .pay.container {
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    padding: 0 32px;
    margin: 128px auto;
    text-align: center;

    h1 {
      font-size: 32px;
      font-weight: 400;
      color: $color-main-foreground-light;
      margin: 32px 0 0;
    }

    h2 {
      font-family: $font-main-title;
      font-weight: 300;
      font-size: 16px;
      color: $color-main-foreground-light;
      opacity: 0.7;
      margin: 8px;
    }

    .mixin.paid.status i {
      font-size: 64px;
      color: $color-main-highlight;
      display: inline-block;
      margin: 64px auto;
    }

    .mixin.code.container {
      position: relative;
      margin: 64px auto;
      width: 256px;
      height: 256px;

      canvas {
        width: 100%;
        height: 100%;
      }

      img {
        position: absolute;
        width: 64px;
        height: 64px;
        border-radius: 32px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .instruction.install {
      opacity: 0.5;
      font-size: 12px;
    }

    .actions {
      margin: 32px auto;
      width: 256px;

      .action {
        width: 128px;
        display: inline-block;
        color: $color-main-foreground-dark;
        padding: 12px 16px;
        font-size: 16px;
        margin: 16px 0;
      }

      .open.action {
        background: $color-main-highlight;
        color: $color-main-background;
        border-radius: 2px;
      }
    }

    .logo img {
      width: 32px;
      height: 32px;
      margin-top: 16px;
      opacity: 0.3;

      &:hover {
        opacity: 1;
      }
    }
  }

  @media (max-width: 768px) {
    .pay.container {
      margin: 64px auto;
      padding: 0 24px;
    }
  }

  @media (max-width: 520px) {
    .pay.container {
      .mixin.code.container {
        margin: 32px auto;
        width: 196px;
        height: 196px;

        img {
          width: 48px;
          height: 48px;
          border-radius: 24px;
        }
      }
    }
  }

  .receipt {
    width: 100%;
    max-width: 768px;
    box-sizing: border-box;
    padding: 0 32px;
    margin: 64px auto 0;
    h1 {
      margin-bottom: 64px;
      text-align: center;
      font-weight: normal;
    }
    label {
      display: block;
      margin-bottom: 6px;
    }
    input[type='text'], input[type='number'], textarea {
      border: 1px solid rgba(0,0,0,.1);
      box-sizing: border-box;
      border-radius: 2px;
      padding: 16px 8px;
      width: 100%;
      &:focus {
        border-color: #3a7ee4;
      }
    }
    .field {
      margin-bottom: 16px;
    }
    ul {
      margin: 0 0 16px;
      padding: 0;
    }
    .asset {
      display: flex;
      align-items: center;
      padding: 4px 0;
      &.selected {
        padding: 8px 16px 8px 8px;
        border: 1px solid rgba(0,0,0,.1);
        border-radius: 2px;
      }
      img {
        width: 56px;
        height: 56px;
      }
      .info {
        flex-grow: 1;
        padding-left: 16px;
        font-size: 14px;
        color: rgba(0, 0, 0, .6);
      }
      .arrow {
        img {
          width: 18px;
          height: 18px;
        }
      }
      h2 {
        color: rgba(0, 0, 0, 1);
        font-size: 20px;
        font-weight: normal;
        margin: 0 0 8px;
      }
    }
    .submit {
      cursor: pointer;
      display: inline-block;
      border: 1px solid #000;
      background: transparent;
      border-radius: 26px;
      font-weight: 300;
      line-height: 1em;
      padding: 16px 32px;
      &:hover {
        background-color: #00b0e9;
        border-color: #00b0e9;
        color: #fff;
      }
    }
    .action {
      font-size: 20px;
      margin-top: 64px;
      text-align: center;
    }
    .modal {
      display: none;
      background: white;
      position: fixed;
      width: 100%;
      height: 100%;
      overflow: scroll;
      box-sizing: border-box;
      top: 0;
      left: 0;
      z-index: 999;
    }
    .close {
      font-size: 48px;
      font-weight: 100;
      display: inline-block;
      position: fixed;
      top: 16px;
      right: 32px;
      z-index: 1000;
      cursor: pointer;
    }
    .assets {
      max-width: 768px;
      margin: 0 auto;
      padding: 64px 32px;
    }
  }
}
