@import './normalize.css';
@import './animate.scss';
@import './fonts/index.scss';
@import './constant.scss';
@import '../node_modules/noty/src/noty.scss';
@import '../node_modules/noty/src/themes/nest.scss';

html,
body {
  font-family: $font-main-content;
  color: $color-main-foreground-dark;
  margin: 0px;
  padding: 0px;
}

html {
  height: 100%;
}

a {
  text-decoration: none;
}

input,
textarea {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.loading.layout {
  height: 100%;
  cursor: wait;

  #layout-container {
    height: 100%;
    position: relative;
  }
}

.error.layout {
  height: 100%;

  #layout-container {
    height: 100%;

    > div {
      height: 100%;

      box-sizing: border-box;

      margin-left: auto;
      margin-right: auto;

      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      padding-left: 2rem;
      padding-right: 2rem;

      padding-bottom: 5rem;
      padding-top: 5rem;

      row-gap: 5rem;

      @media (min-width: 680px) {
        max-width: 680px;

        flex-direction: row;

        padding-top: 8.75rem;
        padding-bottom: 8.75rem;

        column-gap: 4.0833333333rem;
      }

      @media (min-width: 1000px) {
        max-width: 1000px;

        padding-top: 12.5rem;
        padding-bottom: 12.5rem;

        column-gap: 8.1666666667rem;
      }

      @media (min-width: 1240px) {
        max-width: 1240px;

        padding-top: 16.25rem;
        padding-bottom: 16.25rem;

        column-gap: 12.25rem;
      }

      > img {
        height: auto;
        width: 16rem;

        @media (min-width: 680px) {
          width: 17.75rem;
        }

        @media (min-width: 1000px) {
          width: 19.5rem;
        }

        @media (min-width: 1240px) {
          width: 21.25rem;
        }
      }

      > div {
        div.title {
          font-weight: 400;
          font-size: 1.5rem;

          @media (min-width: 680px) {
            font-size: 2.3333333333rem;
          }

          @media (min-width: 1000px) {
            font-size: 3.1666666667rem;
          }

          @media (min-width: 1240px) {
            font-size: 4rem;
          }
        }

        div.subtitle {
          font-size: 0.875rem;
          margin-top: 0.75rem;

          @media (min-width: 680px) {
            font-size: 0.9166666667rem;
            margin-top: 0.9166666667rem;
          }

          @media (min-width: 1000px) {
            font-size: 0.9583333333rem;
            margin-top: 1.0833333333rem;
          }

          @media (min-width: 1240px) {
            font-size: 1rem;
            margin-top: 1.25rem;
          }
        }

        a.action {
          background-color: black;
          width: 100%;
          border-radius: 2px;
          display: block;
          padding-top: 0.75rem;
          padding-bottom: 0.75rem;
          text-align: center;
          font-weight: 400;
          color: white;

          margin-top: 3.75rem;

          @media (min-width: 680px) {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            width: fit-content;

            margin-top: 4.1666666667rem;
          }

          @media (min-width: 1000px) {
            margin-top: 4.5833333333rem;
          }

          @media (min-width: 1240px) {
            margin-top: 5rem;
          }
        }
      }
    }
  }
}

.spinner-container {
  position: fixed;
  width: 100vw;
  height: 100vh;

  .spinner {
    position: relative;
    text-align: center;
    width: 60px;
    height: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0px;
    white-space: nowrap;
  }

  .spinner > div {
    background-color: $color-main-highlight;
    height: 100%;
    width: 6px;
    display: inline-block;
    margin: 0 2px;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }

  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }

  .spinner .rect3 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
  }

  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }

  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }

  @-webkit-keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
      -webkit-transform: scaleY(0.4);
    }
    20% {
      -webkit-transform: scaleY(1);
    }
  }

  @keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }
    20% {
      transform: scaleY(1);
      -webkit-transform: scaleY(1);
    }
  }
}

#noty_layout__top {
  left: 50%;
  top: 8px;
  transform: translateX(-50%);
  width: 90%;
  max-width: 500px;

  .noty_theme__nest.noty_bar .noty_body {
    padding: 16px;
  }

  .noty_has_timeout .noty_progressbar {
    background-color: transparent;
  }

  .noty_type__success {
    background-color: #00b379;
  }

  .noty_type__warning {
    background-color: #ff884d;
  }
}

.animated.slideOutUp.noty {
  animation-duration: 0.2s;
}
